<h1>Framework Ruby on Rails</h1>
<p>
Um framework é uma coleção de bibliotecas e ferramentas capazes de facilitar o desenvolvimento.
Um bom framework fornece uma básica, mas completa, infraestrutura para construir uma aplicação.
Esses fatos tornam o Rails um dos melhores. Afinal, este possui uma plataforma independente, 
completa e licenciada gratuitamente (open source).</p>
<p>
Ruby on Rails é um framework que faz o desenvolvimento, implantação e manutenção de uma aplicação 
web mais fácil e esse utiliza uma linguagem orientada à objeto conhecida como Ruby. 
Para introduzi-lo é preciso que o desenvolvedor conheça algumas de suas filosofias.
</p>