<div class="jumbotron">
    <h1><i class="fa fa-circle-o-notch"></i> Tarefas</h1>
    <p>Essa é uma aplicação desenvolvida em Ruby on Rails</p>
    <%= link_to 'Entrar', new_user_registration_path, class:'btn btn-primary btn-lg' %>
</div>
