// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-image: url(https://pixabay.com/static/uploads/photo/2015/12/08/00/26/desk-1081708_960_720.jpg);
    // background-image: image-url("345.jpg");
    // background-image: url(https://www.google.com.br/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=0ahUKEwje6736kdDNAhVClJAKHS1TDqAQjRwIBw&url=https%3A%2F%2Fwww.123rf.com%2Fphoto_44197104_blank-office-desk-background-with-copy-space-for-your-text-top-view-business-and-office-supplies-wit.html&psig=AFQjCNEXwQW_kUbRB0yff7fYnpdVypCydg&ust=1467389486660277https://www.google.com.br/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=0ahUKEwje6736kdDNAhVClJAKHS1TDqAQjRwIBw&url=https%3A%2F%2Fwww.123rf.com%2Fphoto_44197104_blank-office-desk-background-with-copy-space-for-your-text-top-view-business-and-office-supplies-wit.html&psig=AFQjCNEXwQW_kUbRB0yff7fYnpdVypCydg&ust=1467389486660277);
    // background-image: url(http://previews.123rf.com/images/alexbrylov/alexbrylov1508/alexbrylov150800109/44197104-Blank-office-desk-background-with-copy-space-for-your-text-Top-view-Business-and-office-supplies-wit-Stock-Photo.jpg);
    background-size: cover;
}

.postit {
  line-height: 1;
  text-align: center;
  width: 80%;
  margin: 10px;
  padding: 10px;
  position: relative;
  border: 1px solid #E8E8E8;
  border-top: 0 solid #fdfd86;
  font-family: 'Reenie Beanie';
  font-size: 22px;
  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  background: #ffff88;
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #ffff88), color-stop(82%, #ffff88), color-stop(82%, #ffff88), color-stop(100%, #ffffc6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -o-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: -ms-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 );
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: -0px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
  }
  
    a{
        color: #e46d16;
        &:hover {
            color: #58ab0f;
        }
    }
}